.box {
    background-color: white;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
    margin: 0.05rem 0.9rem;
}

.no-suggestions {
    @extend .box;
    color: #999;
    padding: 0.5rem;
    width: -webkit-fill-available;
    position: absolute;
}

.suggestions {
    @extend .box;
    border: 1px solid rgb(237, 229, 229);
    list-style: none;
    overflow-y: auto;
    padding-left: 0;
    width: -webkit-fill-available;
    position: absolute;
}

.suggestions li {
    padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
    background-color: #4f946c;
    color: white;
    cursor: pointer;
}

.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid rgb(237, 229, 229);
}

.suggestions small {
  font-size: .75rem;
  color: rgb(162, 159, 159);
}

.suggestion-active small, .suggestions li:hover small {
  font-size: .75rem;
  color: rgb(233, 222, 222);
}
  